<img src="assets/pokemonLogo.png" class="size">
<!-- 

					<p>
                        Pokémon (an abbreviation for Pocket Monsters in Japan) 
                        is a Japanese media franchise managed by The Pokémon Company,
                        a company founded by Nintendo, Game Freak, and Creatures. 
                        The franchise was created by Satoshi Tajiri in 1996, 
                        and is centered on fictional creatures called "Pokémon". 
                        In Pokémon, humans, known as Pokémon Trainers, catch and train Pokémon 
                        to battle other Pokémon for sport. All media works within the franchise 
                        are set in the Pokémon universe. The English slogan for the franchise is 
                        "Gotta Catch ‘Em All!". There are currently 901 Pokémon species.
					</p>

 -->
<div class="page">

	<div class="page__section">
		<span class="page__name-effect">type #4</span>
		<div class="page__group">
			<article class="news">
				<header class="news__header">
					<time class="news__date" datetime="2019-05-31">
						<span class="news__day">31</span>
						<span class="news__year">May 2019</span>
					</time>
					<h3 class="r-title news__title">
						<a href="#0" class="r-link animated-underline animated-underline_type4 news__link">
							Implementing Private Variables In JavaScript
						</a>
					</h3>	
				</header>
				<div class="news__content">
					<p>
						Pokémon (an abbreviation for Pocket Monsters in Japan) 
                        is a Japanese media franchise managed by The Pokémon Company,
                        a company founded by Nintendo, Game Freak, and Creatures. 
                        The franchise was created by Satoshi Tajiri in 1996, 
                        and is centered on fictional creatures called "Pokémon". 
                        In Pokémon, humans, known as Pokémon Trainers, catch and train Pokémon 
                        to battle other Pokémon for sport. All media works within the franchise 
                        are set in the Pokémon universe. The English slogan for the franchise is 
                        "Gotta Catch ‘Em All!". There are currently 901 Pokémon species.
					</p>
				</div>
			</article>
			<article class="news arabic">
				<header class="news__header">
					<time class="news__date" datetime="2019-05-31">
						<span class="news__day">3</span>
						<span class="news__year">June 2019</span>
					</time>
					<h3 class="r-title news__title">
						<a href="#0" class="r-link animated-underline animated-underline_type4 news__link">
							Do you need an ICON ONLY button without screwing up the accessibility?
						</a>
					</h3>	
				</header>
				<div class="news__content">
					<p>
						Pokémon (an abbreviation for Pocket Monsters in Japan) 
                        is a Japanese media franchise managed by The Pokémon Company,
                        a company founded by Nintendo, Game Freak, and Creatures. 
                        The franchise was created by Satoshi Tajiri in 1996, 
                        and is centered on fictional creatures called "Pokémon". 
                        In Pokémon, humans, known as Pokémon Trainers, catch and train Pokémon 
                        to battle other Pokémon for sport. All media works within the franchise 
                        are set in the Pokémon universe. The English slogan for the franchise is 
                        "Gotta Catch ‘Em All!". There are currently 901 Pokémon species.
					</p>
				</div>
			</article>
		</div>
	</div>	
</div>
