<img src="assets/pokemonLogo.png" class="size">

<div class="page">

	<div class="page__section">
		<div class="page__group">
			<article class="news">
				<header class="news__header">
					<time class="news__date" datetime="2019-05-31">
						<span class="news__day">1</span>
						<span class="news__year">Jan 2022</span>
					</time>
					<h3 class="r-title news__title">
						<a class="r-link animated-underline animated-underline_type4 news__link">
							Pokémon Ranked Battles January 2022 Season
						</a>
					</h3>	
				</header>
				<div class="news__content">
					<p>
						The new Ranked Battles season has begun, 
						giving Trainers another chance to test their battling skills.
						Pokémon Ranked Battles allow you to test your Trainer skills in head-to-head battles 
						with players around the world, move up the global leaderboards, and earn helpful in-game rewards.
						The January 2022 season will run until January 31, 2022.
					</p>
				</div>
			</article>
			<article class="news arabic">
				<header class="news__header">
					<time class="news__date" datetime="2019-05-31">
						<span class="news__day">20</span>
						<span class="news__year">Dec 2021</span>
					</time>
					<h3 class="r-title news__title">
						<a class="r-link animated-underline animated-underline_type4 news__link">
							Pokémon the Series: XY Episodes Added to Pokémon TV
						</a>
					</h3>	
				</header>
				<div class="news__content">
					<p>
						The Kalos region calls to Ash and Pikachu, as the pair continue their 
						journey in Pokémon the Series: XY, which has just arrived on Pokémon TV. 
						Ash is joined by a young inventor named Clemont and his little sister Bonnie. 
						They also befriend another Pokémon Trainer named Serena, who is just setting out on her first adventure.
						Check out some of the exciting events that happen during the course of this season, 
						and then tune in to Pokémon TV to see the whole story!
					</p>
				</div>
			</article>
		</div>
	</div>	
</div>
