<div class="container">
  <div class="row">
    <div class="col">

      <div class="pokemon-info">
        <span class="number-prefix">N.º</span>{{indice+1}}
        <h5>Name: {{pokemonsLista.nombre}}</h5>
          <div class="abilities">
            <span class="background-color-type">Type: {{pokemonsLista.tipo}}</span>
          </div>
          <div class="abilities">
            <span class="background-color-lvl">Lvl: {{pokemonsLista.nivel}}</span>
          </div>
      </div>
      <br>

    </div>
  </div>
</div>

