<div class="container">
  <div class="row">
    <div class="col">
      
      <div style="margin-top: 10;" class="col-md-4">
        <span>N.º</span>{{indice+1}}
        <div>
          <img [src]="pokemonsLista.img" class="size">
        </div>
        <h5>Name: {{pokemonsLista.nombre}}</h5>
          <div>
            <span>Type: {{pokemonsLista.tipo}}</span>
          </div>
          <div>
            <span>Lvl: {{pokemonsLista.nivel}}</span>
          </div>
      </div>

      <button type="button" class="button-update" [routerLink]="['/updatepokemon', indice]" [queryParams]="{accion:'1'}">Update</button>
      <button type="button" style="margin-left: 5px;" class="button-delete" [routerLink]="['/updatepokemon', indice]" [queryParams]="{accion:'2'}">Delete</button>

      <br>
      <br>
      <br>

    </div>
  </div>
</div>