<div class="loginBox" style="margin-top: 40px;"> 

    <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
    <h3>Sign in here</h3>
    <form>
        <div class="inputBox"> 
            <input id="username" type="text" name="Username" placeholder="Username" [(ngModel)]="userName">
            <input id="pass" type="password" name="Password" placeholder="Password" [(ngModel)]="password">
       </div>
       <input type="submit" (click)="logIn()">
    </form> 

</div>

