/* You can add global styles to this file, and also import other style files */

body {
    background: url("assets/pikachuFondo.jpg");
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
}
